flowline_geom/
rgi/
*.sav
dem_extended/
thickness_extended/
smb_rcm/
output/
*.png
*.grid
*.agr
*.log
.DS_Store
.vscode/
results_glogemflow/
results_dhdt/
products/
supplement_Zekollari_et_al_TC2019_hz02APR2019/